{%  extends 'base.html.twig' %}



{% block body %}


    <h1>{{ detail.title }}</h1>
    <h2>Auteur : {{ detail.author }}</h2>
    <h2>categorie : {{ detail.categories.name }}</h2>
    <h3> Date de creation: {{ detail.dateCreataed |date("d/m/Y") }}</h3>
    <p>{{ detail.description }}</p>





{% endblock %}