

<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/bucketlist/public/img/favicon.png">
    <link rel="stylesheet" href="/bucketlist/public/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <title>{% block title %} Bucketlist {% endblock %}</title>
</head>
<body>
<header>

 <h1 class="titreAccueil"><img src="{{ asset('img/logo.png') }}">Bucketlist</h1>
    <nav >
        <div>
            <a href="{{ path('app_main_home') }}" title="go back home"> Accueil</a>
            <a href="{{ path('wish_list')}}" title="Ma liste à faire avantde die">Ma liste</a>
            <a href="{{ path('app_main_legalstuff') }}">Mention Legal</a>
            <a href="{{ path('wish_create') }}">Ajouter Wish</a>

        </div>
    </nav>
</header>

<main>
    {% block body %}  {% endblock %}

</main>

</body>
<footer>&copy; Bucketlist {{ "now"|date('Y') }}
    <a href="{{ path('app_main_aboutus') }}">About Us</a>

</footer>
{%  block script %} {%  endblock %}
</html>